﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="d-flex justify-content-center align-items-center" style="height: 400px;">
        <img class="max-img" src="" alt="Imagem Responsiva" />
    </div>
</div>

<style>
    .max-img {
        max-height: 100vh; /* Define a altura máxima da imagem */
    }
</style>